body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
   }
canvas{
    border: 4px white solid;
    display: inline-block;
}
#pokeBall{
    background-color: red;
}
#rsrc{
    display: none;
}
#gameData{
    display: inline-block;
    background-color: white;
    float: right;
    width: 25%;
    height: 95%;
    align-content: center;
    text-align: center;
    font-size: x-large;
    background-image: url("Wavesvg.svg");
background-position-x: 0%;
background-repeat: repeat-x;
transition: background-position 3s ease;
animation: water 50s infinite alternate;
}
#area{
    background-image:url("./treebg.png");
    overflow: hidden;
    background-size: cover;
    background-repeat: repeat-x;
    transition: background-image 2s ease;

}
#gameData:hover {
    background-position: 10% -10%;
  }
#profileDiv{padding: 20px;}
#game{height: 100vh;
overflow: hidden;}
@keyframes water{
    from{
        background-position-x: 500%;
    }
    to{
        background-position-x: -500%;
    }
}
#popUp{
    position: absolute;
    width:100vw;
    height: 100vh;
    background-color: white;
    top: 0px;
    bottom: 0px;
    z-index: 50;
    
}
.red #outlineProfile *{
    fill: #eb4d4b;
}
.red #colorProfile *{
    fill: #fa8c8c;
}
.blue #outlineProfile *{
    fill: #4834d4;
}
.blue #colorProfile *{
    fill: #9799e7;
}
